.u-section-1 .u-sheet-1 {
  min-height: 490px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 520px;
}

.u-section-1 .u-products-1 {
  margin-top: -13px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 44px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 0 0;
}

.u-section-1 .u-image-1 {
  width: 215px;
  height: 227px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 43px 0 0 14px;
}

.u-section-1 .u-product-price-1 {
  margin: 0 auto 0 8px;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 0 0;
}

.u-section-1 .u-image-2 {
  width: 215px;
  height: 227px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 43px 0 0 14px;
}

.u-section-1 .u-product-price-2 {
  margin: 0 auto 0 8px;
}

.u-section-1 .u-container-layout-3 {
  padding: 13px 0 0;
}

.u-section-1 .u-image-3 {
  width: 215px;
  height: 227px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 43px 0 0 14px;
}

.u-section-1 .u-product-price-3 {
  margin: 0 auto 0 8px;
}

.u-section-1 .u-container-layout-4 {
  padding: 13px 0 0;
}

.u-section-1 .u-image-4 {
  width: 215px;
  height: 227px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 43px 0 0 14px;
}

.u-section-1 .u-product-price-4 {
  margin: 0 auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-line-1 {
    margin-left: auto;
  }

  .u-section-1 .u-products-1 {
    margin-bottom: 12px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -213px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-product-price-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -213px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -213px;
    margin-left: 0;
  }

  .u-section-1 .u-product-price-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-products-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 122px;
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 397px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -343px;
  }

  .u-section-1 .u-product-price-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-product-price-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-product-price-4 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}